.contents.row
  = form_tag(tweet_path(@tweet), method: :patch) do
    %h3 投稿する
    %input{placeholder: 'Image Url', type: 'text', name: 'image', value: "#{@tweet.image}", autofocus: 'true'}
    %textarea{cols: '30', name: 'text', placeholder: 'text', rows: '10'}
      = @tweet.text
    %input{type: 'submit', value: 'SENT'}
